<!DOCTYPE html>
<html>

<head>
    <title>Mirror Image</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
</head>

<body>
    <div id="top" style="height:100vh;">
        <div id="chat">
            
        </div>

        <input class="send" type="submit" name="my-form" value="Send"/>
        <input class="msg_input" type="text" name="msg" placeholder="Message" autocomplete="off" autofocus/>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){

            $('.msg_input').keypress(function(e){
                if(e.keyCode==13) {
                    $('.send').click();
                    $('.msg_input').val("");
                }
            });

                // start up the SocketIO connection to the server - the namespace 'test' is also included here if necessary
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/');
            // this is a callback that triggers when the "my response" event is emitted by the server.
            var $chat = $('#chat');

            socket.on('server', function(msg) {
                addToChat(msg.class, msg.sender, msg.time, msg.message);
            });
            //example of triggering an event on click of a form submit button
            $('input.send').click(function(event) {
                var dt = new Date($.now());
                var hour = dt.getHours() % 12;
                var ampm = hour == dt.getHours() ? "AM" : "PM";
                hour = (hour.length + 1 === 1) ? hour : "0"+hour;
                var min = (String(dt.getMinutes()).length == 2) ? dt.getMinutes() : "0"+dt.getMinutes();
                var sec = (String(dt.getSeconds()).length == 2) ? dt.getSeconds() : "0"+dt.getSeconds();
                var month = ((dt.getMonth().length+1) == 2) ? dt.getMonth()+1 : "0"+(dt.getMonth()+1);
                var date = month + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + 
                    hour + ":" + min + ":" + sec + " " + ampm;

                addToChat("user", "You", date, $('.msg_input').val());
                socket.emit('send message', {data: $('.msg_input').val()});
                return false;
            });

            function addToChat(c, sender, time, message) {
                $chat.append("<div class='" + c + " message_div'>" + 
                    "<p class='sender'>" + sender + "</p>" + 
                    "<p class='time'>" + time + "</p>" + 
                    "<p class='msg'>" + message + "</p>" + "</div>");
                $chat.scrollTop(
                    $chat.scrollHeight
                );
            }
        });
    </script>
</body>

</html>